a {
    text-decoration: none !important;
}

.btn-body {
    height:90px;
    width: 60px;
    border-radius:20px;
    color:#a005a0;
    font-display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px auto;
    transition: all 0.5s case;
    background-color: black;
}

.btn-body.active {

    background-color: #060661;
    color: #fff;
    transform: scale(1.05);
}

.btn-body:hover {
    color: #060661;
}

.btn-title {
    margin: 4px auto;
    font-weight: 680;
}